<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- URL Project -->
        <link rel="canonical" href="https://lucassantus.github.io/contact/"/>

        <!-- Description Project -->
        <meta name="author" content="Lucas Eduardo de Oliveira Santos">
        <meta name="description" content="Site construído para manter links pessoais">

        <!-- Import Favicon -->
        <link rel="shortcut icon" href="assets/images/logo.svg" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="assets/css/styles.css">

        <title>Contact Links</title>
    </head>

    <body class="pink">  
        <main class="container">
            {{ content }}
        </main>
    </body>
</html>